/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/02/2021, 03:08:14 PM
    Author     : Fabian
*/
.BodyLogin{
     
    background-color: white;
}
.CentrarContenidoLogin{
    width: 400px; margin: 150px auto;
      
}
.botonIngresoLogin{
    background-color: #D79031;
    color: white;
    font-size: 20px;
}
